@charset "UTF-8";
@import url("https://unpkg.com/swiper@8/swiper-bundle.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/
.anchor {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

@media (min-width: 1201px) {
  .container {
    width: 1180px;
    margin-left: calc(50% - 590px);
    margin-right: calc(50% - 590px);
  }
}
@media (max-width: 767px) {
  .container {
    width: calc(100vw - 40px);
  }
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 88px;
  background-color: #383c61;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
@media (max-width: 767px) {
  header {
    display: none;
  }
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
}
header .container li,
header .container a,
header .container button {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #edf0f1;
  text-decoration: none;
}
header .container .logo {
  margin-top: 25px;
  cursor: pointer;
  margin-right: 5%;
}
header .container .logo img {
  margin-top: 12px;
  width: 100px;
  height: 100px;
}
header .container .nav_links {
  list-style: none;
}
header .container .nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
header .container .nav_links li a {
  transition: all 0.3s ease 0s;
}
header .container .nav_links li a:hover {
  color: #84dcc6;
}
header .container button {
  font-size: 20px;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #4d5286;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
header .container button:hover {
  background-color: #7176af;
}

@media (min-width: 1201px) {
  .top-nav {
    display: none;
  }
}
@media (max-width: 767px) {
  .top-nav {
    top: 0;
    display: flex;
    position: fixed;
    z-index: 3;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #383c61;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #edf0f1;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
    padding: 1em;
    margin: 0;
    width: 100%;
  }
  .top-nav img {
    height: 60px;
    width: 60px;
    margin-top: 12px;
    position: relative;
    z-index: 10;
  }
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menu li,
.menu a {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none;
  }
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    font-family: Montserrat, sans-serif;
  }
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle {
    display: none;
  }
  .menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  .menu-button::before {
    content: "";
    margin-top: -8px;
  }
  .menu-button::after {
    content: "";
    margin-top: 8px;
  }
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #4d5286;
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
.swiper {
  width: auto;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
@media (max-width: 767px) {
  .swiper {
    height: 50vh;
  }
}
.swiper .slide1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/swiper_1.jpg");
}
.swiper .slide2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/swiper_2.jpg");
}
.swiper .slide3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/swiper_3.jpg");
}
.swiper .slide4 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/swiper_4.jpg");
}
.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  text-align: center;
}
@media (max-width: 767px) {
  .swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.swiper .swiper-slide .entity-img {
  display: none;
}
.swiper .swiper-slide .content {
  font-family: Montserrat;
  position: absolute;
  top: 40%;
  color: #edf0f1;
  text-shadow: rgb(6, 6, 6) 1px 0 10px;
}
.swiper .swiper-slide .content .title {
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .swiper .swiper-slide .content .title {
    font-size: 1.5em;
  }
}
.swiper .swiper-slide .content .caption {
  display: block;
  font-size: 20px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .swiper .swiper-slide .content .caption {
    font-size: 1em;
    line-height: 1.2;
  }
}
.swiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  background-color: #4d5286;
}

.fish-list {
  display: inline-block;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;
}
@media (max-width: 767px) {
  .fish-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.fish-list h1 {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 30px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: bold;
}
@media (min-width: 1201px) {
  .fish-list .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 70px;
         column-gap: 70px;
    row-gap: 50px;
  }
}
@media (max-width: 767px) {
  .fish-list .container .item {
    width: 100%;
    padding-top: 3%;
  }
}
.fish-list .container .item img {
  min-height: 220px;
  max-height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: transform 0.25s;
  overflow: hidden;
  border-radius: 5px;
}
.fish-list .container .item:hover img {
  transform: scale(1.01);
}
.fish-list .container .item .image_wrapper {
  width: 100%;
  height: 220px;
}
.fish-list .container .item .fish_info {
  position: relative;
  font-family: Montserrat, sans-serif;
}
.fish-list .container .item .fish_info .name {
  line-height: 40px;
  font-family: Montserrat, sans-serif;
}
.fish-list .container .item .fish_info .price {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 15px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}
.fish-list .container .item .fish_info .description {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.company-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  background-color: #ebebeb;
}
.company-info h2 {
  text-align: center;
  font-family: Montserrat;
}
.company-info p {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
}
@media (max-width: 767px) {
  .company-info p {
    font-size: 1em;
  }
}
.company-info .about-company-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
@media (max-width: 767px) {
  .company-info .about-company-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.company-info .about-company-wrapper .section-content1,
.company-info .about-company-wrapper .section-content2,
.company-info .about-company-wrapper .section-content3,
.company-info .about-company-wrapper .section-content4 {
  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.company-info .about-company-wrapper img {
  width: 250px;
  height: 339px;
  overflow: hidden;
  filter: brightness(0.87);
}
.company-info .about-company-wrapper .value {
  font-family: Montserrat;
  padding: 7px;
  text-shadow: rgb(6, 6, 6) 1px 0 10px;
}
.company-info .about-company-wrapper .value-info {
  color: white;
  font-family: Montserrat;
  text-shadow: rgb(6, 6, 6) 1px 0 10px;
}
.company-info .about-company-wrapper .background {
  width: 250px;
  height: 339px;
  position: absolute;
  z-index: 1;
  background: white;
  top: 0;
  opacity: 0;
  transition: all ease 0.3s;
}
.company-info .about-company-wrapper .background:hover {
  opacity: 0.3;
}
.company-info .about-company-wrapper .image-container {
  position: relative;
  width: 250px;
  height: 339px;
}
.company-info .about-company-wrapper .text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 250px;
  height: 339px;
}

footer {
  background-color: #383c61;
  height: auto;
  font-family: Montserrat, sans-serif;
  padding-top: 40px;
  color: #edf0f1;
}
footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
footer .footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
footer .footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
footer .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
footer .socials li {
  margin: 0 10px;
}
footer .socials a {
  text-decoration: none;
  color: #edf0f1;
}
footer .socials a i {
  font-size: 1.4rem;
}
footer .socials a:hover i {
  color: #84dcc6;
}
footer .footer-bottom {
  background-color: rgb(33, 31, 31);
  padding: 20px 0;
  text-align: center;
}
footer .footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
footer .footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}