@import url("https://unpkg.com/swiper@8/swiper-bundle.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
footer {
  background-color: #383c61;
  height: auto;
  font-family: Montserrat, sans-serif;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background-color: #211f1f;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: calc(50% - 590px);
  margin-right: calc(50% - 590px);
  width: 1180px;
}

.global-wrapper {
  overflow: scroll;
}

.anchor {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

.about-company-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about-company-wrapper .section-content1, .about-company-wrapper .section-content2, .about-company-wrapper .section-content3, .about-company-wrapper .section-content4 {
  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.about-company-wrapper img {
  width: 250px;
  height: 339px;
  overflow: hidden;
  -webkit-filter: brightness(0.87);
          filter: brightness(0.87);
}

.about-company-wrapper .value {
  font-family: Montserrat;
  padding: 7px;
  text-shadow: #060606 1px 0 10px;
}

.about-company-wrapper .value-info {
  color: white;
  font-family: Montserrat;
  text-shadow: #060606 1px 0 10px;
}

.about-company-wrapper .background {
  width: 250px;
  height: 339px;
  position: absolute;
  z-index: 1;
  background: white;
  top: 0;
  opacity: 0;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.about-company-wrapper .background:hover {
  opacity: 0.3;
}

.about-company-wrapper .image-container {
  position: relative;
  width: 250px;
  height: 339px;
}

.about-company-wrapper .text-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 250px;
  height: 339px;
}

.swiper {
  width: auto;
  height: 700px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

[class^="swiper-button-"], .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 28vw;
  -webkit-transition: opacity .6s ease;
  transition: opacity .6s ease;
}

.swiper-container.swiper-container-coverflow {
  padding-top: 2%;
}

.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide .entity-img {
  display: none;
}

.swiper-slide .content {
  font-family: Montserrat;
  position: absolute;
  top: 40%;
  padding-left: 20%;
  padding-right: 20%;
  color: #fff;
  text-shadow: #060606 1px 0 10px;
}

.swiper-slide .content .title {
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
}

.swiper-slide .content .caption {
  display: block;
  font-size: 20px;
  line-height: 1.4;
}

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.swiper-button-next {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px;
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: .4;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 0px solid #fff;
  border-radius: 50%;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  border-width: 1px;
}

@media (max-width: 1180px) {
  .swiper-slide .content .title {
    font-size: 25px;
  }
  .swiper-slide .content .caption {
    font-size: 12px;
  }
}

@media (max-width: 1023px) {
  .swiper-container {
    height: 40vw;
  }
  .swiper-container.swiper-container-coverflow {
    padding-top: 0;
  }
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  background-color: #5299D3;
}

.slide1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/swiper_1.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/swiper_1.jpg");
}

.slide2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/swiper_2.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/swiper_2.jpg");
}

.slide3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/swiper_3.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/swiper_3.jpg");
}

.slide4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/swiper_4.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/swiper_4.jpg");
}

.swiper-slide {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #383c61;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

li, a, button {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
}

li li, li a, a li, a a, button li, button a {
  font-size: 25px;
}

header {
  position: fixed;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 10%;
  width: 100%;
  height: 115px;
}

.logo {
  margin-top: 25px;
  cursor: pointer;
  margin-right: 5%;
}

.logo img {
  margin-bottom: 15px;
  width: 150px;
  height: 150px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #84DCC6;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #4d5286;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #7176af;
}

.fish-list {
  display: inline-block;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;
}

.fish-list .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 70px;
          column-gap: 70px;
  row-gap: 50px;
}

.item img {
  min-height: 220px;
  max-height: 100%;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  overflow: hidden;
  border-radius: 5px;
}

.item :hover img {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.image_wrapper {
  width: 100%;
  height: 220px;
}

.name {
  line-height: 40px;
  font-family: Montserrat, sans-serif;
}

.fish_info {
  position: relative;
  font-family: Montserrat, sans-serif;
}

.price {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 15px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}

.description {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

h1 {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 0px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Montserrat, sans-serif;
}

.company-info {
  width: 100%;
  margin-top: 40px;
  background-color: #EBEBEB;
}

.company-info h2 {
  text-align: center;
  font-family: Montserrat;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

.company-info p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
}
