.company-info {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 40px;
  padding-top: 60px;
  background-color: $aboutCompanyBackgroundColor;
  h2 {
    text-align: center;
    font-family: Montserrat;
    // font-size: 25px;
    // font-weight: bold;
    // padding-top: 30px;
    // padding-bottom: 40px;
    // padding-left: 25px;
    // padding-right: 25px;
  }
  p {
    @include media("mobile") {
      font-size: 1em;
    }

    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: Montserrat, sans-serif;
    font-size: 30px;

  }

  .about-company-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    @include media("mobile") {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      align-content: space-around;
      flex-wrap: wrap;
      flex-direction: column;
    }
    .section-content1,
    .section-content2,
    .section-content3,
    .section-content4 {
      margin-top: 30px;
      margin-bottom: 50px;
      //  margin-left: 50px;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
        rgba(0, 0, 0, 0.05) 0px 5px 10px;

      //  background-color: rgba(139,180,205,1);
    }

    img {
      width: 250px;
      height: 339px;
      overflow: hidden;
      filter: brightness(0.87);
    }

    // img:hover {
    //     opacity: 0.5;

    // }

    .value {
      font-family: Montserrat;
      // line-height: 1.01em;
      padding: 7px;
      text-shadow: rgb(6, 6, 6) 1px 0 10px;
    }
    .value-info {
      color: white;
      font-family: Montserrat;

      text-shadow: rgb(6, 6, 6) 1px 0 10px;

      //  line-height: 1.01em;
      //  position: absolute;
      //  text-align: center;
      //  top: 50%;
      //  left: 25%;
    }
    .background {
      width: 250px;
      height: 339px;
      position: absolute;
      z-index: 1;
      background: white;
      top: 0;
      opacity: 0;

      transition: all ease 0.3s;
    }

    .background:hover {
      opacity: 0.3;
    }
    .image-container {
      position: relative;
      width: 250px;
      height: 339px;
    }

    .text-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0;

      width: 250px;
      height: 339px;
    }
  }
}
