.company-info {
// margin-top: 25px;
// margin-bottom: 30px;
// margin-left: 0px;
// margin-right: 0px;

width: 100%;
margin-top: 40px;
// margin-bottom: 30px;
// background-image: linear-gradient(135deg,rgba(242, 246, 232, 0.984) 0%,rgb(39, 203, 232) 50%,rgb(70, 90, 218) 100%);

// background-color: #FFFAFF;

// background-color: #96CDFF;

background-color: #EBEBEB;


h2  {
text-align: center;
font-family: Montserrat;
padding-top: 30px;
padding-bottom: 40px;
padding-left: 25px;
padding-right: 25px;
}

p {

    text-align: center;
padding-top: 10px;
padding-bottom: 40px;
padding-left: 10%;
padding-right: 10%;
font-family: Montserrat, sans-serif;
font-size: 30px;
}

}

