.fish-list {
  display: inline-block;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;
  @include media("mobile") {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .container {
    @include media("tablet") {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 70px;
      row-gap: 50px;
    }

    @include media("desktop") {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 70px;
      row-gap: 50px;
    }

    .item {
      @include media("mobile") {
        width: 100%;
        margin-bottom: 55px;
        // padding-top: 70px;
        // padding-top: 3%;
        // margin-left: 5%;
      }

      img {
        min-height: 220px;
        max-height: 100%;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;
        transition: transform 0.25s;
        overflow: hidden;
        border-radius: 5px;
        // margin-bottom: 50px;
      }
      &:hover img {
        transform: scale(1.01);
      }
      .image_wrapper {
        width: 100%;
        height: 220px;
        // overflow-y: hidden;
      }
      .fish_info {
        margin-top: 10px;
        position: relative;
        font-family: Montserrat, sans-serif;
        .name {
          text-align: center;
          line-height: 30px;
          font-family: Montserrat, sans-serif;
          font-size: 16px;
          margin-bottom: 5px;
        }

        .price {
          // position: absolute;
          text-align: center;
          // bottom: 0;
          // right: 0;
          line-height: 15px;
          font-size: 24px;
          font-weight: bold;
          font-family: Montserrat, sans-serif;
        }
        .description {
          text-align: center;
          font-size: 10px;
          font-family: Montserrat, sans-serif;
          line-height: 25px;
        }
      }
    }
  }
}

// body {
//   @include media("desktop") {
//     display: none !important;
//   }
// }
