header {
  // box-sizing: border-box;
  // margin: 0;

  position: fixed;
  z-index: 3;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // padding: 25px 10%;
  // padding-top: 25px;
  // padding-bottom: 25px;
  width: 100%;
  height: 88px;
  background-color: $mainColor;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;

    // Здесь в li,a,button узнать, как сделать, чтобы у кнопки был отдельный шрифт более элегантным способом
    li,
    a,
    button {
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      font-size: 25px;
      color: $whiteTextColor;
      text-decoration: none;
    }
    .logo {
      margin-top: 25px;
      img {
        margin-bottom: -7px;
        width: 100px;
        height: 100px;
      }
      cursor: pointer;
      margin-right: 5%;
    }
    .nav_links {
      list-style: none;
      li {
        display: inline-block;
        padding: 0px 20px;
      }
      li a {
        transition: all 0.3s ease 0s;
      }
      li a:hover {
        color: $textHoverColor;
      }
    }
    button {
      font-size: 20px;
      margin-left: 20px;
      padding: 9px 25px;
      background-color: $buttonColor;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: $buttonHoverColor;
      }
    }
  }
}
