// .swiper-slide :nth-child(1){
//     background-image: 
//     url('images\fish_1.webp');
// }


    
.slide1 {
// p{
//   position: absolute;
//   z-index:100;
// }
    background-image: url('../images/swiper_1.jpg');
   
}
.slide2 {
 background-image: url('../images/swiper_2.jpg');
//  p{
//   position: absolute;
//   z-index:100;
// }
}

.slide3 {
background-image: url('../images/swiper_3.jpg');

}
.slide4 {

  background-image: url('../images/swiper_4.jpg');
}

.swiper-slide{
   background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
    
