.swiper {
  @include media("mobile") {
    height: 50vh;
    
  }
  width: auto;
  height: 100vh;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  .slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/swiper_1.jpg");
  }
  .slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/swiper_2.jpg");
  }
  .slide3 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../images/swiper_3.jpg");
  }
  .slide4 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../images/swiper_4.jpg");
  }
  .swiper-wrapper {
    // @include media("mobile") {
    //   height: 50vh;
    // }
  }
  .swiper-slide {
    @include media("mobile") {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    background-position: center;
    background-size: cover;
    text-align: center;
    .slide-inner {
    }
    .entity-img {
      display: none;
    }
    .content {
      // @include media("mobile") {
      //   padding-left: 2%;
      //   padding-right: 2%;
      // }
      font-family: Montserrat;
      position: absolute;
      top: 40%;
      // padding-left: 20%;
      // padding-right: 20%;
      color: $whiteTextColor;
      text-shadow: rgb(6, 6, 6) 1px 0 10px;
      .title {
        @include media("mobile") {
          font-size: 1.5em;
        }
        font-size: 2.6em;
        font-weight: bold;
        margin-bottom: 30px;
      }
      .caption {
        @include media("mobile") {
          font-size: 1em;
          line-height: 1.2;
        }
        display: block;
        font-size: 20px;
        line-height: 1.4;
      }
    }
  }
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    background-color: #4d5286;
  }
}
