.swiper {
 
  width: auto;
  height: 700px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}


// .swiper-slide {

//   p{
//   position: absolute;
//   z-index:100;
//   color: white;
//   text-decoration: none;
//   font-family: Montserrat, sans-serif;
//   font-weight: 500;
//   font-size: 20px;

// }
// }
// .swiper-button-prev::after,
// .swiper-button-next::after{
//   color:rgba(50, 127, 175, 0.605) ;
//   font-size: 80px;
// }
.swiper-pagination-bullet{
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  
  // color: #5299D3;
  background-color: #5299D3;

}