$mainColor: #383c61;
$whiteTextColor: #edf0f1;
$buttonColor: #4d5286;
$buttonHoverColor: #7176af;
$textHoverColor: #84dcc6;
$footerBottomColor: rgb(33, 31, 31);
$aboutCompanyBackgroundColor: #ebebeb;
